version: 2.1 

 

jobs: 

  build-and-test:  

    machine: 

      image: ubuntu-2004:current 

        

    steps: 

      - checkout 

      - run: make deps

      - run:
          name: Intentional failure
          command: exit 1

      - run: make test       

workflows: 

  basic:  

    jobs: 

      - build-and-test 